.settings/
.classpath
.project
*.class
analyzed.js
.DS_Store
.idea
.vscode
META-INF
build
decompiled-project
test.*
apk-dependency-graph-scripts-*.zip
.ant
.gradle
# libs/ directory where the dependencies are downloaded by Ivy Apache.
libs
apks
filters/*.json
!filters/default.json
local.properties
apk-dependency-graph.iml